<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufc.fm.dbio.mapper.FmLoanApplicationRenovMapper" >
  <resultMap id="BaseResultMap" type="com.ufc.fm.dbio.po.FmLoanApplicationRenov" >
    <id column="ren_id" property="renId" jdbcType="INTEGER" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="dec_name" property="decName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="dec_price" property="decPrice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ren_id, loan_id, dec_name, phone, dec_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenovExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fm_loan_application_renov
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fm_loan_application_renov
    where ren_id = #{renId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fm_loan_application_renov
    where ren_id = #{renId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenovExample" >
    delete from fm_loan_application_renov
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenov" >
    insert into fm_loan_application_renov (ren_id, loan_id, dec_name, 
      phone, dec_price)
    values (#{renId,jdbcType=INTEGER}, #{loanId,jdbcType=VARCHAR}, #{decName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{decPrice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenov" >
    insert into fm_loan_application_renov
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="renId != null" >
        ren_id,
      </if>
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="decName != null" >
        dec_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="decPrice != null" >
        dec_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="renId != null" >
        #{renId,jdbcType=INTEGER},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="decName != null" >
        #{decName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="decPrice != null" >
        #{decPrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenovExample" resultType="java.lang.Integer" >
    select count(*) from fm_loan_application_renov
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fm_loan_application_renov
    <set >
      <if test="record.renId != null" >
        ren_id = #{record.renId,jdbcType=INTEGER},
      </if>
      <if test="record.loanId != null" >
        loan_id = #{record.loanId,jdbcType=VARCHAR},
      </if>
      <if test="record.decName != null" >
        dec_name = #{record.decName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.decPrice != null" >
        dec_price = #{record.decPrice,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fm_loan_application_renov
    set ren_id = #{record.renId,jdbcType=INTEGER},
      loan_id = #{record.loanId,jdbcType=VARCHAR},
      dec_name = #{record.decName,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      dec_price = #{record.decPrice,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenov" >
    update fm_loan_application_renov
    <set >
      <if test="loanId != null" >
        loan_id = #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="decName != null" >
        dec_name = #{decName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="decPrice != null" >
        dec_price = #{decPrice,jdbcType=VARCHAR},
      </if>
    </set>
    where ren_id = #{renId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationRenov" >
    update fm_loan_application_renov
    set loan_id = #{loanId,jdbcType=VARCHAR},
      dec_name = #{decName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      dec_price = #{decPrice,jdbcType=VARCHAR}
    where ren_id = #{renId,jdbcType=INTEGER}
  </update>
</mapper>