<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufc.fm.dbio.mapper.FmLoanApplicationCarMapper" >
  <resultMap id="BaseResultMap" type="com.ufc.fm.dbio.po.FmLoanApplicationCar" >
    <id column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="dealer_name" property="dealerName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="veh_brand" property="vehBrand" jdbcType="VARCHAR" />
    <result column="veh_model" property="vehModel" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="pur_date" property="purDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    car_id, loan_id, dealer_name, phone, veh_brand, veh_model, price, pur_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fm_loan_application_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fm_loan_application_car
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fm_loan_application_car
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCarExample" >
    delete from fm_loan_application_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCar" >
    <selectKey resultType="java.lang.Integer" keyProperty="carId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fm_loan_application_car (loan_id, dealer_name, phone, 
      veh_brand, veh_model, price, 
      pur_date)
    values (#{loanId,jdbcType=VARCHAR}, #{dealerName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{vehBrand,jdbcType=VARCHAR}, #{vehModel,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{purDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCar" >
    <selectKey resultType="java.lang.Integer" keyProperty="carId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fm_loan_application_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="dealerName != null" >
        dealer_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="vehBrand != null" >
        veh_brand,
      </if>
      <if test="vehModel != null" >
        veh_model,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="purDate != null" >
        pur_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanId != null" >
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null" >
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="vehBrand != null" >
        #{vehBrand,jdbcType=VARCHAR},
      </if>
      <if test="vehModel != null" >
        #{vehModel,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="purDate != null" >
        #{purDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCarExample" resultType="java.lang.Integer" >
    select count(*) from fm_loan_application_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fm_loan_application_car
    <set >
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.loanId != null" >
        loan_id = #{record.loanId,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerName != null" >
        dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.vehBrand != null" >
        veh_brand = #{record.vehBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.vehModel != null" >
        veh_model = #{record.vehModel,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.purDate != null" >
        pur_date = #{record.purDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fm_loan_application_car
    set car_id = #{record.carId,jdbcType=INTEGER},
      loan_id = #{record.loanId,jdbcType=VARCHAR},
      dealer_name = #{record.dealerName,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      veh_brand = #{record.vehBrand,jdbcType=VARCHAR},
      veh_model = #{record.vehModel,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      pur_date = #{record.purDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCar" >
    update fm_loan_application_car
    <set >
      <if test="loanId != null" >
        loan_id = #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="dealerName != null" >
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="vehBrand != null" >
        veh_brand = #{vehBrand,jdbcType=VARCHAR},
      </if>
      <if test="vehModel != null" >
        veh_model = #{vehModel,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="purDate != null" >
        pur_date = #{purDate,jdbcType=VARCHAR},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufc.fm.dbio.po.FmLoanApplicationCar" >
    update fm_loan_application_car
    set loan_id = #{loanId,jdbcType=VARCHAR},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      veh_brand = #{vehBrand,jdbcType=VARCHAR},
      veh_model = #{vehModel,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      pur_date = #{purDate,jdbcType=VARCHAR}
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>