<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufc.fm.dbio.mapper.FmStatisticsMapper">
	<resultMap id="TaskNumResultMap" type="com.ufc.fm.dbio.po.FmStatisticsTaskNum">
		<result column="REPT_DATE" property="reptDate" jdbcType="VARCHAR" />
		<result column="TXN_TYPE" property="txnType" jdbcType="VARCHAR" />
		<result column="TASK_STATUS" property="taskStatus" jdbcType="VARCHAR" />
		<result column="TASK_COUNT" property="taskCount" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getTaskNumByStatus" resultMap="TaskNumResultMap" parameterType="map">
		SELECT FDI.ITEM_NAME TASK_STATUS, COUNT(*) TASK_COUNT
		FROM FM_TASK FT
		LEFT JOIN FM_DICT_ITEM FDI ON FDI.ITEM_VALUE = FT.TASK_STATUS AND FDI.DICT_VALUE = 'TXN_TYPE'
		WHERE FT.CREATE_DATE BETWEEN #{beginDate} AND #{endDate}
		GROUP BY FT.TASK_STATUS
	</select>

	<select id="getTaskNumByTxntype" resultMap="TaskNumResultMap" parameterType="map">
		SELECT FT.TXN_TYPE, FDI.ITEM_NAME TASK_STATUS, COUNT(*) TASK_COUNT
		FROM FM_TASK FT
		LEFT JOIN FM_DICT_ITEM FDI ON FDI.ITEM_VALUE = FT.TASK_STATUS AND FDI.DICT_VALUE = 'TXN_TYPE'
		WHERE FT.CREATE_DATE BETWEEN #{beginDate} AND #{endDate}
		GROUP BY FT.TXN_TYPE, FT.TASK_STATUS
	</select>

	<select id="getTaskNumByMonth" resultMap="TaskNumResultMap" parameterType="map">
		SELECT LEFT(FT.CREATE_DATE,6) REPT_DATE, FT.TXN_TYPE, FDI.ITEM_NAME TASK_STATUS, COUNT(*) TASK_COUNT
		FROM FM_TASK FT LEFT
		JOIN FM_DICT_ITEM FDI ON FDI.ITEM_VALUE = FT.TASK_STATUS AND FDI.DICT_VALUE = 'TXN_TYPE'
		WHERE FT.CREATE_DATE BETWEEN #{beginDate} AND #{endDate}
		AND FT.TXN_TYPE = #{txnType}
		GROUP BY LEFT(FT.CREATE_DATE,6), FT.TXN_TYPE, FT.TASK_STATUS
	</select>
</mapper>