<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufc.fm.rbac.mapper.FmResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.ufc.fm.rbac.po.FmResources" >
    <id column="RESOURCES_ID" property="resourcesId" jdbcType="VARCHAR" />
    <result column="RES_NAME" property="resName" jdbcType="VARCHAR" />
    <result column="RES_TYPE" property="resType" jdbcType="VARCHAR" />
    <result column="RES_KEY" property="resKey" jdbcType="VARCHAR" />
    <result column="SHOW_INDEX" property="showIndex" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="TARGET" property="target" jdbcType="VARCHAR" />
    <result column="REL" property="rel" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_DATA" property="dataData" jdbcType="VARCHAR" />
    <result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RESOURCES_ID, RES_NAME, RES_TYPE, RES_KEY, SHOW_INDEX, PARENT_ID, TARGET, REL, STATE, 
    DATA_TYPE, DATA_DATA, REMARK1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ufc.fm.rbac.po.FmResourcesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FM_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FM_RESOURCES
    where RESOURCES_ID = #{resourcesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FM_RESOURCES
    where RESOURCES_ID = #{resourcesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ufc.fm.rbac.po.FmResourcesExample" >
    delete from FM_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ufc.fm.rbac.po.FmResources" >
    insert into FM_RESOURCES (RESOURCES_ID, RES_NAME, RES_TYPE, 
      RES_KEY, SHOW_INDEX, PARENT_ID, 
      TARGET, REL, STATE, 
      DATA_TYPE, DATA_DATA, REMARK1
      )
    values (#{resourcesId,jdbcType=VARCHAR}, #{resName,jdbcType=VARCHAR}, #{resType,jdbcType=VARCHAR}, 
      #{resKey,jdbcType=VARCHAR}, #{showIndex,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{rel,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{dataData,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ufc.fm.rbac.po.FmResources" >
    insert into FM_RESOURCES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        RESOURCES_ID,
      </if>
      <if test="resName != null" >
        RES_NAME,
      </if>
      <if test="resType != null" >
        RES_TYPE,
      </if>
      <if test="resKey != null" >
        RES_KEY,
      </if>
      <if test="showIndex != null" >
        SHOW_INDEX,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="target != null" >
        TARGET,
      </if>
      <if test="rel != null" >
        REL,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
      <if test="dataData != null" >
        DATA_DATA,
      </if>
      <if test="remark1 != null" >
        REMARK1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourcesId != null" >
        #{resourcesId,jdbcType=VARCHAR},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resKey != null" >
        #{resKey,jdbcType=VARCHAR},
      </if>
      <if test="showIndex != null" >
        #{showIndex,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="rel != null" >
        #{rel,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataData != null" >
        #{dataData,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ufc.fm.rbac.po.FmResourcesExample" resultType="java.lang.Integer" >
    select count(*) from FM_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FM_RESOURCES
    <set >
      <if test="record.resourcesId != null" >
        RESOURCES_ID = #{record.resourcesId,jdbcType=VARCHAR},
      </if>
      <if test="record.resName != null" >
        RES_NAME = #{record.resName,jdbcType=VARCHAR},
      </if>
      <if test="record.resType != null" >
        RES_TYPE = #{record.resType,jdbcType=VARCHAR},
      </if>
      <if test="record.resKey != null" >
        RES_KEY = #{record.resKey,jdbcType=VARCHAR},
      </if>
      <if test="record.showIndex != null" >
        SHOW_INDEX = #{record.showIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null" >
        TARGET = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.rel != null" >
        REL = #{record.rel,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        DATA_TYPE = #{record.dataType,jdbcType=VARCHAR},
      </if>
      <if test="record.dataData != null" >
        DATA_DATA = #{record.dataData,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        REMARK1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FM_RESOURCES
    set RESOURCES_ID = #{record.resourcesId,jdbcType=VARCHAR},
      RES_NAME = #{record.resName,jdbcType=VARCHAR},
      RES_TYPE = #{record.resType,jdbcType=VARCHAR},
      RES_KEY = #{record.resKey,jdbcType=VARCHAR},
      SHOW_INDEX = #{record.showIndex,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      TARGET = #{record.target,jdbcType=VARCHAR},
      REL = #{record.rel,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      DATA_TYPE = #{record.dataType,jdbcType=VARCHAR},
      DATA_DATA = #{record.dataData,jdbcType=VARCHAR},
      REMARK1 = #{record.remark1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufc.fm.rbac.po.FmResources" >
    update FM_RESOURCES
    <set >
      <if test="resName != null" >
        RES_NAME = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        RES_TYPE = #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resKey != null" >
        RES_KEY = #{resKey,jdbcType=VARCHAR},
      </if>
      <if test="showIndex != null" >
        SHOW_INDEX = #{showIndex,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        TARGET = #{target,jdbcType=VARCHAR},
      </if>
      <if test="rel != null" >
        REL = #{rel,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="dataData != null" >
        DATA_DATA = #{dataData,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        REMARK1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where RESOURCES_ID = #{resourcesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufc.fm.rbac.po.FmResources" >
    update FM_RESOURCES
    set RES_NAME = #{resName,jdbcType=VARCHAR},
      RES_TYPE = #{resType,jdbcType=VARCHAR},
      RES_KEY = #{resKey,jdbcType=VARCHAR},
      SHOW_INDEX = #{showIndex,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      TARGET = #{target,jdbcType=VARCHAR},
      REL = #{rel,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      DATA_DATA = #{dataData,jdbcType=VARCHAR},
      REMARK1 = #{remark1,jdbcType=VARCHAR}
    where RESOURCES_ID = #{resourcesId,jdbcType=VARCHAR}
  </update>
</mapper>